$color: red;

$color-bg-0 : rgb(202, 216, 228);
$color-bg-1 : hsl(209, 36%, 86%);
$color-bg-2 : hsl(224, 44%, 95%);

$form-gradient : linear-gradient(to bottom,
    #0E2B3B,
    #193F57,
    #2A5472,
    #3B6990,
    #4D7FB1);

$body-gradient : radial-gradient(50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.75) 0%,
    rgba(255, 255, 255, 0) 100%),
linear-gradient(180deg, darken($color-bg-0, 10%) 0%, darken($color-bg-1, 10%) 15%, darken($color-bg-2, 10%) 50%);


@mixin form-display {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 1.4rem 2.4rem 2.4rem 3rem;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #193F57;
    box-shadow: #0E2B3B 0px 0px 10px 0px;
}